:root {
    /* Colors */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-tertiary: #04152d;
    --color-quaternary: #1c0426;
    --color-quinary: #0e3c44;
    --color-dark: #0b2447;
    --color-bg: #000000;

    /* Fonts */
    --font-robot: "Roboto";
    --font-times_new_roman: "Times New Roman";
}