@import "../../vars.css";

.container {
    position: relative;
    background-color: rgba(42, 17, 56, 0.6);
    border-radius: 15px;
    padding: 50px;
    margin-top: 100px;
    z-index: 1;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    
    font-family: var(--font-roboto);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 70%, 
        rgba(255, 255, 255, 0) 120%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImage {
    width: 30%;
    margin-right: 20px;
}

.aboutItems {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 25px
}

.aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(90deg, rgba(165, 215, 232, 0.42) 0%, rgba(255, 255, 255, 0) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 1s;
}

.aboutItem:hover {   
    background-size: 100% 100%;
}

.aboutItemText h3 {
    font-size: 20px;
    font-weight: 600;
}

.aboutItemText p {
    font-size: 20px;
}

.neonWebsite {
    width: 60px;
    margin-right: 10px;
}

.linuxPenguin {
    width: 60px;
    margin-right: 10px;
}

.neonProgrammingLanguage {
    width: 60px;
    margin-right: 10px;
}

.router {
    width: 60px;
    margin-right: 10px;
}

@media screen and (max-width: 830px) {
    .container {
        background-color: rgba(12, 12, 12, 0.6);
        padding-left: 1;
        padding-right: 1;
    }

    .title {
        font-size: 20px;
        align-items: center;
        justify-content: space-between;
    }

    .content {
        flex-direction: column;
    }
    
    .aboutImage {
        display: none;
        width: 35%;
    }

    .aboutItems {
        margin-top: 29px;
    }

    .aboutItem {
        padding-left: 0;
        padding-right: 0;
    }

    .aboutItemText h3 {
        font-size: 15px;
        font-weight: 600;
    }
    
    .aboutItemText p {
        font-size: 15px;
    }
}

